#entete{
    font-size: 120%;
    font-weight: bold;
  }
#entete.p{
    font-size:110%;
    font-weight:normal;
}

p.info{
  display:inline-block;
  border: 1px solid black;
  background-color: aqua;
  
}

div.label{
  float: left;
}

div.question{
  width: 500px;
}

input.input{
  float:left;
}

table, td, th {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}